
<div class="row">
	<div class="col-4">
		<div class="jumbortron">
			<h1 class="display-3">Welcome to Flight Reservation System</h1>
			<hr class="my-4" />
			<p class="lead text-muted">
				This web application where the customers will login and book flight tickets  and
				the this is done using ASP.net core MVC for the backend and Html , Css, Js and Bootstrap for the frontend part and for the database Microsoft Sql Server Is Used
			</p>
			<a class="btn btn-primary" asp-action="Register">Register With Us</a>
			<a class="btn btn-secondary" asp-action="Login">Login</a>
		</div>
	</div>

	<div class="col-8">
		<img class="card-img-top" src="https://semidotinfotech.com/blog/wp-content/uploads/2021/07/Flight-Ticket-Booking-App-Development-Cost-Features1.jpg" />
	</div>
</div>