@model FlightReservationSystem.Dto.LoginDto;

<div class="row">
	<div class="col mt-5">
		<form asp-action="Login" method="post">
			@{
				if (ViewData["error"] != null)
				{
					<div class="alert alert-danger" role="alert">@ViewData["error"]</div>
				}
				if (ViewData["msg"] != null)
				{
					<div class="alert alert-success" role="alert">@ViewData["msg"]</div>
				}
			}
			<div class="card mt-5 border-primary">
				<h1 class="card-header display-5">Login</h1>
				<div class="card-body">
					<div class="form-group">
						<input class="form-control" placeholder="Email" type="email" required asp-for="Email" />
						<input class="form-control mt-2" placeholder="Password" type="password" required asp-for="Password" />
						<select class="form-select mt-2" required asp-for="UserType">
							<option selected>Please Select User Type</option>
							<option value="USER">USER</option>
							<option value="ADMIN">ADMIN</option>
						</select>
						<div class="text-center mt-3">
							<button class="btn btn-primary w-50">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-8">
		<img class="card-img-top" src="https://semidotinfotech.com/blog/wp-content/uploads/2021/07/Flight-Ticket-Booking-App-Development-Cost-Features1.jpg" />
	</div>
</div>